# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/import-layers/meta-openembedded/meta-oe \
  ##OEROOT##/import-layers/meta-openembedded/meta-networking \
  ##OEROOT##/import-layers/meta-openembedded/meta-python \
  ##OEROOT##/import-layers/meta-virtualization \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-openbmc-bsp/meta-aspeed \
  ##OEROOT##/meta-openbmc-bsp/meta-aspeed/meta-ast2400 \
  ##OEROOT##/meta-openbmc-yandex/meta-yandex \
  ##OEROOT##/meta-openbmc-yandex/meta-yandex/meta-openrack \
  ##OEROOT##/meta-openbmc-yandex/meta-yandex/meta-openrack/meta-shaosi \
  "
BBLAYERS_NON_REMOVABLE ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/import-layers/meta-openembedded/meta-oe \
  ##OEROOT##/import-layers/meta-openembedded/meta-networking \
  ##OEROOT##/import-layers/meta-openembedded/meta-python \
  ##OEROOT##/import-layers/meta-virtualization \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-openbmc-bsp/meta-aspeed \
  ##OEROOT##/meta-openbmc-bsp/meta-aspeed/meta-ast2400 \
  ##OEROOT##/meta-openbmc-yandex/meta-yandex \
  ##OEROOT##/meta-openbmc-yandex/meta-yandex/meta-openrack \
  ##OEROOT##/meta-openbmc-yandex/meta-yandex/meta-openrack/meta-shaosi \
  "
