[Unit]
Description=Nginx Server
After=network.target
[Service]
Type=forking
Restart=always
PIDFile=@SYSCONFDIR@/openresty/run/openresty.pid
ExecStartPre=@BASEBINDIR@/mkdir -p @LOCALSTATEDIR@/log/nginx
ExecStart=@SYSCONFDIR@/init.d/openresty start
ExecStop=@SYSCONFDIR@/init.d/openresty stop
[Install]
WantedBy=multi-user.target

