# CONFIG_ARM_APPENDED_DTB is not set
# CONFIG_ARM_ATAG_DTB_COMPAT_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_MTD_PLATRAM=y
CONFIG_OF_DYNAMIC=y
CONFIG_OF_RESOLVE=y
CONFIG_OF_OVERLAY=y
CONFIG_OF_CONFIGFS=y
CONFIG_I2C_MUX_PCA954x=y
CONFIG_I2C_MUX=y
CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_PCF857X=y
CONFIG_I2C_SLAVE=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_HWMON=y
CONFIG_SENSORS_NCT7904=y
CONFIG_EEPROM_AT24=y
CONFIG_SENSORS_INA2XX=y
CONFIG_SENSORS_TMP421=y
CONFIG_SENSORS_W83795=y
CONFIG_CONFIGFS_FS=y
CONFIG_JFFS2_LZMA=y
CONFIG_LZMA_COMPRESS=y
CONFIG_LZMA_DECOMPRESS=y
CONFIG_PRINTK_TIME=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_REALTEK_PHY=y
CONFIG_GENERIC_PHY=y
CONFIG_PHYLIB=y
CONFIG_MDIO_BOARDINFO=y
CONFIG_NET_DSA=y
# CONFIG_NET_DSA_HWMON is not set
CONFIG_NET_SWITCHDEV=y
CONFIG_HAVE_NET_DSA=y
CONFIG_FIXED_PHY=y
CONFIG_B53=y
CONFIG_B53_MDIO_DRIVER=y
CONFIG_MDIO_BCM_UNIMAC=y
CONFIG_BRIDGE=y
CONFIG_VLAN_8021Q=y
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_REGMAP_SPI=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_GPIO=y
CONFIG_SPI_SPIDEV=y
CONFIG_MTD_M25P80=y
CONFIG_PMBUS=y
CONFIG_SENSORS_PMBUS=y
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_IPMI_I2C=y
CONFIG_CRYPTO_HW=y
CONFIG_CRYPTO_DEV_ASPEED_HACE=y
# CONFIG_ASPEED_BT_IPMI_BMC is not set
CONFIG_DEBUG_INFO=y
