/dts-v1/;

#include "aspeed-g4.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Gigabyte CB v3.0";
	compatible = "openbmc,common", "aspeed,ast2400";

	aliases {
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 earlyprintk";
	};

	memory {
		reg = < 0x40000000 0x10000000 >;
	};

	ahb {
		mac0: ethernet@1e660000 {
			status = "okay";

			no-hw-checksum;

			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;

			phy-handle = <&phy1>;
			phy-mode = "rgmii";

			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				phy1: phy@0 {
					compatible = "ethernet-phy-id001c.c915";
					reg = <0>;
				};
			};
		};

		mac1: ethernet@1e680000 {
			compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
			reg = <0x1e680000 0x180>;
			interrupts = <3>;
			status = "okay";
			no-hw-checksum;

			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;

			phy-mode = "gmii";

			fixed-link {
				speed = <1000>;
				max-speed = <1000>;
				full-duplex;
			};

			mdio {
				#address-cells = <1>;
				#size-cells = <0>;

				switch: ethernet-switch@1e {
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "brcm,bcm53128";
					reset-gpios = <&gpio ASPEED_GPIO(H, 0) GPIO_ACTIVE_LOW>;
					reg = <30>;

					ports {
						port0@0 {
							reg = <0>;
							label = "lan1";
						};

						port1@1 {
							reg = <1>;
							label = "lan2";
						};

						port2@2 {
							reg = <2>;
							label = "lan3";
						};

						port3@3 {
							reg = <3>;
							label = "lan4";
						};

						port4@4 {
							reg = <4>;
							label = "lan5";
						};

						port5@5 {
							reg = <5>;
							label = "lan6";
						};

						port6@6 {
							reg = <6>;
							label = "uplink";
						};

						port8@8 {
							reg = <8>;
							label = "cpu";
							phy-mode = "gmii";
							ethernet = <&mac1>;
							fixed-link {
								speed = <1000>;
								max-speed = <1000>;
								full-duplex;
							};
						};
					};
				};
			};
		};

		fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,ast2400-fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				/* label = "bmc"; */
				/*
				 * Possibly required props:
				 * spi-max-frequency = <>
				 * spi-tx-bus-width = <>
				 * spi-rx-bus-width  = <>
				 * m25p,fast-read
				 * spi-cpol if inverse clock polarity (CPOL)
				 * spi-cpha if shifted clock phase (CPHA)
				 */
/* #include "aspeed-rmc-32M-flash-layout.dtsi" */
#include "aspeed-bmc-opp-flash-layout.dtsi"
			};
		};

		apb {
			i2c: i2c@1e78a000 {
				i2c6: i2c-bus@1c0 {
				};
				i2c8: i2c-bus@340 {
				};
			};
		};
	};

	spi {
		compatible = "spi-gpio";
		#address-cells = <0x1>;
		ranges;

		cs-gpios = <&gpio 66 0>;  /* CS */
		gpio-sck = <&gpio 65 0>;  /* SK */
		gpio-mosi = <&gpio 64 0>; /* DI */
		gpio-miso = <&gpio 67 0>; /* DO */
		num-chipselects = <1>;

		spidev@0 {
			compatible = "eeprom-93xx46";
			data-size = <16>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			spi-max-frequency = <100000>;
			spi-cs-high;
		};
	};

           leds {
                compatible = "gpio-leds";
                heartbeat {
                    label = "heartbeat";
                    gpios = <&gpio 14 GPIO_ACTIVE_LOW>;
                    linux,default-trigger = "heartbeat";
                };

                bmc_lan {
                    label = "bmc_lan";
                    gpios = <&gpio 13 GPIO_ACTIVE_HIGH>;
                    linux,default-trigger = "netdev";
                };
           };
};

&uart5 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c6 {
	status = "okay";
					pca9555: gpio-expander@21 {
						compatible = "nxp,pca9555";
						gpio-controller;
						#gpio-cells = <2>;
						reg = <0x20>;
					};
					sensors {
						label = "HWMON";
						compatible = "nuvoton,w83795g";
						reg = <0x2f>;
					};
					power {
						label = "POWER_BPB";
						compatible = "ti,ina219";
						reg = <0x40>;
					};
					tmp {
						label = "TEMP_BPB";
						compatible = "national,lm75";
						reg = <0x48>;
					};
					i2cmux@74 {
						compatible = "nxp,pca9548";
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0x74>;
						reset-gpios = <&pca9555 15 GPIO_ACTIVE_LOW>;
						i2c_node1: i2c@0 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <0>;
						};
						i2c_node2: i2c@1 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <1>;
						};
						i2c_node3: i2c@2 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <2>;
						};
						i2c_node4: i2c@3 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <3>;
						};
						i2c_node5: i2c@4 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <4>;
						};
						i2c_node6: i2c@5 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <5>;
						};
						i2c_node7: i2c@6 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <6>;
						};
						i2c_node8: i2c@7 {
						    #address-cells = <1>;
						    #size-cells = <0>;
						    reg = <7>;
						};
					};
};

&i2c8 {
	status = "okay";

	tmp {
		label = "TEMP1";
		compatible = "national,lm75";
		reg = <0x48>;
	};
	fru {
		compatible = "atmel,24c02";
		reg = <0x56>;
		pagesize = <32>;
	};
};
