/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	compatible = "aspeed,ast2400";

	fragment@0 {
		target = <&mac1>;
		__overlay__ {
			status = "okay";

	no-hw-checksum;

	phy-handle = <&phy1>;
	phy-mode = "rgmii";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;

	mdio {
		phy1: phy@0 {
			compatible = "ethernet-phy-id001c.c915";
			reg = <0>;
		};
			};
		};
	};

	fragment@1 {
		target = <&i2c0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&i2c6>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&i2c7>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2c8>;
		__overlay__ {
			status = "okay";

			rtc@68 {
				compatible = "maxim,ds3231";
				reg = <0x68>;
				// interrupts = <GPIOF0>
			};

			tmp {
				label = "TEMP1";
				compatible = "national,lm75";
				reg = <0x48>;
			};
			fru {
				compatible = "atmel,24c02";
				reg = <0x56>;
				pagesize = <32>;
			};
		};
	};
};
