[Unit]
Description=PID3 daemon
Requires=obmc-shaosid.service obmc-fans-ready.target
[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/sbin/pid3_wrapper
ExecStopPost=/usr/sbin/safefans.sh || return 0
[Install]
WantedBy=network.target
