/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	compatible = "aspeed,ast2400";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			model = "Gigabyte Shaosi RMC v3.0";
		};
	};

	fragment@1 {
		target = <&mac1>;
		__overlay__ {
			status = "okay";

	no-hw-checksum;

	phy-handle = <&phy1>;
	phy-mode = "rgmii";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;

	mdio {
		phy1: phy@0 {
			compatible = "ethernet-phy-id001c.c915";
			reg = <0>;
		};
			};
		};
	};

#if 0
	fragment@2 {
		target = <&i2c0>;
		__overlay__ {
			status = "okay";
			clock-frequency = <100000>;
			ipmb@1 {
				compatible = "i2c-ipmb";
				reg = <0x31>;
				slave-addr = <0x39>;
			};
		};
	};
#endif

	fragment@2 {
		target = <&i2c7>;
		__overlay__ {
			status = "okay";
			clock-frequency = <400000>;
			rtc@68 {
				compatible = "maxim,ds3231";
				reg = <0x68>;
				// interrupts = <GPIOF0>
			};

			tmp {
				label = "TEMP1";
				compatible = "national,lm75";
				reg = <0x48>;
			};
			fru {
				compatible = "atmel,24c256";
				reg = <0x56>;
				// pagesize = <32>;
			};
		};
	};
	fragment@3 {
		target = <&i2c0>;
		__overlay__ {
			status = "okay";
			bpbio: gpio-expander@18 {
				compatible = "nxp,pca9675";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x18>;
				lines-initial-states = <0x1>;
				ngpios = <16>;
				gpio-line-names = "RST_I2C", "PS_ON", "PS_OK", "PS_PRSN", "PS_ALERT",
						  "RST_RMCA", "RST_RMCB", "NC_0_7", "RST_CB1", "RST_CB2",
						  "RST_CB3", "RST_CB4", "RST_CB5", "RST_CB6",
						  "NC_1_6", "NC_1_7";
			};
		};
	};

};
